<!-- angular.callbacks._5(
  {
    Name: "Screwdriver",
    Url: "http://www.cocktailbuilder.com/recipe/screwdriver",
    Instructions: "Pour ingredients into a collins glass. ",
    Ingredients: [
    {
      Amount: "1 1/2",
      Measurement: "oz",
      ID: 3,
      NormalizedID: 1,
      Name: "Vodka",
      NormalizedName: "Vodka"
      },
      {
      Amount: "4",
      Measurement: "oz",
      ID: 4,
      NormalizedID: 2,
      Name: "Orange Juice",
      NormalizedName: "Orange Juice"
    }
  ]
} -->

{{#each ___}}
{{Amount}} {{Measurement}} {{Name}}<br>
{{/each}}
{{Instructions}}
