body {
  padding: 20px;
  font-size: 16px;

}
.jumbotron {
  background-image: url("../styles/img/barphoto.png");
  background-size: cover;
}
.jumbotron h1, p {
  margin-left: 20px;
}
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap; o
  verflow: hidden;
  margin-bottom: 15px;
}
.autocomplete-selected {
  background: #96A7B0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}
.hidden{
  visibility: hidden;
}
#autocomplete{
  margin-left: 20px;
}
#ingredientInput {
  display: none;
}
#ingredientsInMyBar {
  margin-top: 20px;
}
#ingredientsInMyBar p{
  font-weight: bold;
}
#addedIngredients li {
  list-style: none;
}
#editButton {
  margin-left: 20px;
}
#cocktailsToMake p{
  font-weight: bold;
}
#cocktailList button{
  display: flex;
  flex-direction: column;
  border-style: hidden;
  font-size: 14px;

}


@media screen and (max-width: 500px) {
  .autocomplete-suggestion {
    font-size: 18px;
  }
  #addIngredientsToBar {
    font-size: 18px;
  }
  #cocktailsToMake {
    font-size: 18px;
  }


  img {
    width: 100%;
  }
}
